@{
    ViewData["Title"] = "Panier";
}

<div class="text-center">
    <h1 class="display-4">Panier</h1>
    <p>Votre panier est vide.</p>
    <img src="~/images/cart_is_empty.png" alt="Catalogue" width="300" height="300" />
</div>
