@model Catalogue.Models.Hockey

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Article d'Hockey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Photo" class="control-label">Image</label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="img-fluid"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomProduit" class="control-label">Nom</label>
                <input asp-for="NomProduit" class="form-control" />
                <span asp-validation-for="NomProduit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionDetaillee" class="control-label">Description</label>
                <input asp-for="DescriptionDetaillee" class="form-control" />
                <span asp-validation-for="DescriptionDetaillee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marque" class="control-label">Marque</label>
                <input asp-for="Marque" class="form-control" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taille" class="control-label">Taille / Format</label>
                <input asp-for="Taille" class="form-control" />
                <span asp-validation-for="Taille" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label">Catégorie</label>
                <input asp-for="Categorie" class="form-control" />
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantiteEnInventaire" class="control-label">Quantité</label>
                <input asp-for="QuantiteEnInventaire" class="form-control" />
                <span asp-validation-for="QuantiteEnInventaire" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
